
<%= turbo_frame_tag "user" do %>
  <p style="color: green"><%= notice %></p>
  <p style="color: red"><%= alert %></p>
  <%= bootstrap_form_with(model: @user) do |form| %>
    <div class="container-fluid bg-dark text-white">
      <h1>User Profile</h1>
      <div class="border-bottom border-secondary"></div>

      <ul class="list-group h5">
        <li class="my-1 list-group-item d-flex bg-dark text-white justify-content-between">
        <%# image css for  %>
        <span class="py-2"> 画像 : </span>
        <%# <%= form.label :profile_image, class: "py-2" %>
        <%= form.file_field :profile_image %>
      </li>
        <li class="my-1 list-group-item d-flex bg-dark text-white justify-content-between">
          <span class="my-2"> ID : </span>
          <span> <%= @user.id %> </span>
        </li>
        <li class="my-1 list-group-item d-flex bg-dark text-white justify-content-between">
          <span class="my-2"> Name : </span>
          <span>
            <%= form.text_field :name,
                  skip_label: true,
                  label_as_placeholder: true,
                  wrapper: false,
                  control_class: "form-control form-control-sm"
            %>
          </span>
        </li>
        <li class="my-1 list-group-item d-flex bg-dark text-white justify-content-between">
          <span class="my-2"> Birthday : </span>
          <span>
            <%= form.date_field :birthday,
                  skip_label: true,
                  label_as_placeholder: true,
                  wrapper: false,
                  control_class: "form-control form-control-sm"
            %>
          </span>
        </li>
        <li class="my-1 list-group-item d-flex bg-dark text-white justify-content-between">
          <span class="my-2"> Joined Date : </span>
          <span>
            <%= @user.created_at %>
          </span>
        </li>
      </ul>
    </div>
    <div>
      <%= form.submit class: 'btn btn-primary w-100 my-2'%>
      <%# <%= button_to "Destroy this user", @user, method: :delete %>
    </div>
  <% end %>
<% end %>
