
<%= turbo_frame_tag "user" do %>
  <p style="color: green"><%= notice %></p>
  <p style="color: red"><%= alert %></p>
  <div class="container-fluid bg-dark text-white">
    <h1>User Profile</h1>
    <div class="border-bottom border-secondary"></div>

    <ul class="list-group h5">
      <li class="my-1 list-group-item d-flex bg-dark text-white justify-content-between">
        <span class="py-2"> 画像 : </span>
        <%= image_tag @user.display_profile_image, height: "128px", class: "rounded-circle"%>
      </li>
      <li class="my-1 list-group-item d-flex bg-dark text-white justify-content-between">
        <span class="py-2"> ID : </span>
        <span> <%= @user.id %> </span>
      </li>
      <li class="my-1 list-group-item d-flex bg-dark text-white justify-content-between">
        <span class="py-2"> Name : </span>
        <span> <%= @user.name %> </span>
      </li>
      <li class="my-1 list-group-item d-flex bg-dark text-white justify-content-between">
        <span class="py-2"> Birthday : </span>
        <span> <%= @user.birthday %> </span>
      </li>
      <li class="my-1 list-group-item d-flex bg-dark text-white justify-content-between">
        <span class="py-2"> Joined Date : </span>
        <span> <%= @user.created_at %> </span>
      </li>
    </ul>
  </div>
  <% if @current_user == @user %>
    <div>
      <%= link_to 'edit', edit_user_path(@current_user), class: 'btn btn-primary w-100 my-2'%>
      <%# <%= button_to "Destroy this user", @user, method: :delete %>
    </div>
  <% end %>
<% end %>
