<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container-fraud bg-dark text-light">
    <div class="row">
      <div class="col-sm-3 ps-0 h-100 sticky-top">
        <%= render 'sidebar' %>
      </div>
      <div class="col-sm-6 my-4">
        <%= yield %>
      </div>
      <div class="col-sm-3 text-light mt-5">
        <div> </div>
      </div>
    </div>
  </body>
</html>
