<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container-fraud">
    <div class="row">
      <div class="col ps-0 h-100 sticky-top" style="width:100px height:500px">
        <%= render 'sidebar' %>
      </div>
      <div class="col my-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
